/*--------------------- Variable files -----------------------*/
/*--------------------- layouts files -----------------------*/
/*----------------------- base files --------------------------*/
/*------------------------ Merriweather and open sans -------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
/*-------------------- general styles-------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Open Sans", sans-serif;
  background: #fff;
  font-size: 16px;
}
body::-webkit-scrollbar {
  width: 8px;
  height: 4px;
}
body::-webkit-scrollbar-track {
  background: #E9E9E9;
}
body::-webkit-scrollbar-thumb {
  background: #7D7C7C;
}
body::-webkit-scrollbar-thumb:hover {
  background: #7D7C7C;
}

p {
  margin-bottom: 0px !important;
}

/*----------------- anchors general styles ----------------*/
a {
  text-decoration: none !important;
  color: inherit;
}
a:hover {
  color: inherit;
}
a:focus, a:hover, a:active {
  outline: none;
}

/*-------------------- button styles-------------------------*/
.btn {
  cursor: pointer;
  outline: none !important;
  font-weight: 400;
}
.btn:focus, .btn:hover, .btn:active {
  outline: none !important;
}
.btn:active {
  transform: translateY(2px);
}

.button {
  font-size: 16px;
  outline: none;
}
.button-primary {
  font-size: 1rem;
  font-weight: 500;
  padding: 12px 28px;
  border: 1px solid transparent;
  border-radius: 6px;
  background: #ff9454;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  transition: background 0.2s ease-in;
  cursor: pointer;
}
.button-primary:active {
  transform: translateY(0.1rem);
}
.button-primary:hover {
  border-radius: 6px;
  border: 1px solid #f98642;
  background: #f98642;
  backdrop-filter: blur(15.9499998093px);
}

.section {
  padding-block: 80px;
}
.section__header {
  width: 500px;
  margin-bottom: 48px;
}
@media (max-width: 575px) {
  .section__header {
    width: 100%;
  }
}
.section__header h1 {
  font-family: "Playfair Display", serif;
  letter-spacing: 0.5px;
  color: black;
}
.section__header p {
  font-size: 16px;
  line-height: 28px;
}

.separator {
  border-top: 1px solid #dadce0;
}

.page-section {
  padding-top: 48px;
}

.gap-100 {
  gap: 100px;
}
@media (max-width: 991px) {
  .gap-100 {
    gap: 52px;
  }
}
@media (max-width: 767px) {
  .gap-100 {
    gap: 42px;
  }
}
@media (max-width: 575px) {
  .gap-100 {
    gap: 30px;
  }
}

.section-gap {
  margin-top: 62px;
}

.gradient-layer {
  background: linear-gradient(#AFC2C6, rgba(0, 0, 0, 0.01));
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::selection {
  color: white;
  background-color: gray;
}

.wow {
  visibility: hidden;
}

.side-nav {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #e1eaf3;
  color: black;
  width: 300px;
  padding: 16px -6px;
  z-index: 50;
  box-shadow: 8px 0px 4px -6px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0px;
  left: 0px;
  overflow-y: auto;
}
.side-nav .logo {
  width: 160px;
}
.side-nav .logo img {
  width: 100%;
  height: 100%;
}
.side-nav::-webkit-scrollbar {
  width: 6px;
  height: 4px;
}
.side-nav::-webkit-scrollbar-track {
  background: #F1EFEF;
}
.side-nav::-webkit-scrollbar-thumb {
  background: #CCC8AA;
  border-radius: 20px;
}
.side-nav::-webkit-scrollbar-thumb:hover {
  background: #CCC8AA;
}
@media (max-width: 991px) {
  .side-nav {
    display: none;
  }
}
.side-nav a {
  font-size: 16px;
  font-weight: 500;
  padding: 15px 24px;
  transition: color, background-color 0.3s ease;
}
.side-nav a:is(:active, .active, :hover) {
  color: #FD9556;
  border-right: 5px solid #FD9556;
}

.nav-mobile {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 49;
  background-color: rgba(255, 255, 255, 0.4);
}
.nav-mobile .navbar-nav li a {
  color: #000;
}
.nav-mobile .navbar-nav li a:is(:active, .active, :hover) {
  color: #f2782f;
}
.nav-mobile .navbar-nav .dropdown-menu {
  --bs-dropdown-bg: #FFD9C2;
}
.nav-mobile .navbar-nav .dropdown-item:hover {
  background-color: transparent;
}
.nav-mobile .navbar-nav .dropdown-item:active {
  background-color: #ffccae;
}
.nav-mobile__button {
  width: 35px;
  height: 35px;
}
.nav-mobile__button svg {
  width: 100%;
  height: 100%;
}
.nav-mobile .offcanvas {
  background-color: #e1eaf3;
}
.nav-mobile .offcanvas-body {
  overflow-y: auto;
  background: #e1eaf3;
  min-height: 100vh;
}
.nav-mobile .offcanvas.offcanvas-start {
  width: 250px;
}
.nav-mobile.on-scroll {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  backdrop-filter: blur(14px);
  top: -50px;
  animation: navAnimate 0.5s forwards ease-in;
}
.nav-mobile::-webkit-scrollbar {
  width: 6px;
  height: 4px;
}
.nav-mobile::-webkit-scrollbar-track {
  background: #F1EFEF;
}
.nav-mobile::-webkit-scrollbar-thumb {
  background: #CCC8AA;
  border-radius: 20px;
}
.nav-mobile::-webkit-scrollbar-thumb:hover {
  background: #CCC8AA;
}

.nav-lists-mobile a {
  font-size: 16px;
  font-weight: 400;
  padding: 15px 30px;
  transition: color, background-color 0.3s ease;
}
.nav-lists-mobile a.active {
  color: white;
  background-color: rgba(97, 231, 228, 0.0784313725);
}

.banner {
  background-image: url("../../assets/banner-bg-2.jpg");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
}
.banner__content {
  width: 750px;
  border-width: 2px;
  border-style: solid;
  box-shadow: 0px 2px 0px rgba(255, 255, 255, 0.15);
  background-color: rgba(255, 255, 255, 0.15);
  border-image: linear-gradient(to right, rgb(255, 201, 150) 0%, rgb(225, 225, 225) 50%, rgba(255, 255, 255, 0.15) 100%) 1;
  backdrop-filter: blur(8.6499996185px);
  padding-block: 16px 30px;
  padding-inline: 8px;
  border-radius: 12px;
}
@media (max-width: 991px) {
  .banner__content {
    padding-inline: 16px;
    width: 100%;
  }
}
.banner__content--heading h1 {
  font-family: "Playfair Display", serif;
  font-size: 62px;
  text-align: center;
  font-weight: 400;
  color: black;
}
@media (max-width: 991px) {
  .banner__content--heading h1 {
    font-size: 52px;
  }
}
@media (max-width: 575px) {
  .banner__content--heading h1 {
    font-size: 42px;
  }
}
.banner__content--heading--italic {
  letter-spacing: 1px;
  font-weight: 500;
}
.banner__content--description {
  width: 559px;
}
@media (max-width: 991px) {
  .banner__content--description {
    width: 100%;
  }
}

:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: "Rubik", sans-serif;
  --font-serif: "Cardo", serif;
}

.features {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 20px;
}
@media (max-width: 1399px) {
  .features {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 24px;
    column-gap: 26px;
  }
}
@media (max-width: 1199px) {
  .features {
    row-gap: 20px;
    column-gap: 20px;
  }
}
@media (max-width: 767px) {
  .features {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 20px;
  }
}
@media (max-width: 575px) {
  .features {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 20px;
    column-gap: 0px;
  }
}
.features__card {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  height: 280px;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
@media (max-width: 991px) {
  .features__card {
    width: 100%;
  }
}
.features__card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: center;
  -webkit-transition: -webkit-transform calc(var(--d) * 1.5) var(--e);
  transition: -webkit-transform calc(var(--d) * 1.5) var(--e);
  transition: transform calc(var(--d) * 1.5) var(--e);
  transition: transform calc(var(--d) * 1.5) var(--e), -webkit-transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}
.features__card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform calc(var(--d) * 2) var(--e);
  transition: -webkit-transform calc(var(--d) * 2) var(--e);
  transition: transform calc(var(--d) * 2) var(--e);
  transition: transform calc(var(--d) * 2) var(--e), -webkit-transform calc(var(--d) * 2) var(--e);
}
.features__card__content {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  -webkit-transition: -webkit-transform var(--d) var(--e);
  transition: -webkit-transform var(--d) var(--e);
  transition: transform var(--d) var(--e);
  transition: transform var(--d) var(--e), -webkit-transform var(--d) var(--e);
  z-index: 1;
}
.features__card__content > * + * {
  margin-top: 1rem;
}
.features__card:nth-child(1):before {
  background-image: url("../../assets/ai-text-5.png");
}
.features__card:nth-child(2):before {
  background-image: url("../../assets/ai-image.jpg");
}
.features__card:nth-child(3):before {
  background-image: url("../../assets/audio-ai.png");
}
.features__card:nth-child(4):before {
  background-image: url("../../assets/pronunciation.jpeg");
}
.features__card:nth-child(5):before {
  background-image: url("../../assets/conversation.png");
}

@media (hover: hover) and (min-width: 600px) {
  .features__card::after {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  .features__card__content {
    -webkit-transform: translateY(calc(100% - 5.2rem));
    transform: translateY(calc(100% - 5.2rem));
  }
  .features__card__content h2 {
    font-weight: 600;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
  }
  .features__card__content > *:not(.heading) {
    opacity: 0;
    -webkit-transform: translateY(1rem);
    transform: translateY(1rem);
    -webkit-transition: opacity var(--d) var(--e), -webkit-transform var(--d) var(--e);
    transition: opacity var(--d) var(--e), -webkit-transform var(--d) var(--e);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e), -webkit-transform var(--d) var(--e);
  }
  .features__card:is(:hover, :focus-within) {
    -webkit-box-align: center;
    align-items: center;
  }
  .features__card:is(:hover, :focus-within)::before {
    -webkit-transform: translateY(-4%);
    transform: translateY(-4%);
  }
  .features__card:is(:hover, :focus-within)::after {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .features__card:is(:hover, :focus-within) .features__card__content {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  .features__card:is(:hover, :focus-within) .features__card__content > *:not(.heading) {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition-delay: calc(var(--d) / 8);
    transition-delay: calc(var(--d) / 8);
  }
  .features__card:focus-within:is(::before, ::after, .features__card__content, .features__card__content *:not(.heading)) {
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
  }
}
.subject {
  max-height: 450px;
}
@media (max-width: 991px) {
  .subject {
    max-height: fit-content;
  }
}
.subject__image {
  max-height: 100%;
  width: 40%;
}
@media (max-width: 991px) {
  .subject__image {
    max-height: 50%;
    width: 100%;
  }
}
.subject__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.subject__content {
  width: 40%;
}
@media (max-width: 991px) {
  .subject__content {
    width: 100%;
  }
}
.subject__content h1 {
  font-family: "Playfair Display", serif;
  letter-spacing: 0.5px;
  padding-bottom: 20px;
  margin-bottom: 0;
  color: black;
}
.subject__content p {
  font-size: 16px;
  line-height: 28px;
}

.faq__image {
  width: 50%;
}
@media (max-width: 991px) {
  .faq__image {
    width: 100%;
  }
}
.faq__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.faq__content {
  width: 50%;
}
@media (max-width: 991px) {
  .faq__content {
    width: 100%;
  }
}
.faq__content .accordion {
  width: 100%;
  --bs-accordion-bg: transparent;
  --bs-accordion-color: #000;
  --bs-accordion-btn-color: #000;
  --bs-accordion-active-color: #000;
  --bs-accordion-active-bg: transparent;
  --bs-accordion-btn-focus-box-shadow: none;
  --bs-accordion-border-color: #6B9BA9;
  --bs-border-width: 0px;
  --bs-accordion-btn-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 27 27' fill='none'%3E%3Ccircle cx='13.25' cy='13.25' r='12.75' stroke='%236B9BA9'/%3E%3Cpath d='M17.1145 11.042L13.2912 15.061L9.59534 11.0716' stroke='%236B9BA9' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 27 27' fill='none'%3E%3Ccircle cx='13.25' cy='13.25' r='12.75' stroke='%236B9BA9'/%3E%3Cpath d='M17.1145 11.042L13.2912 15.061L9.59534 11.0716' stroke='%236B9BA9' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  --bs-accordion-btn-icon-transition: transform 0.5s ease-in-out;
  --bs-accordion-btn-icon-width: 24px;
  --bs-accordion-transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,border-radius 0.15s ease,
                              border-bottom 0.15s ease-in-out;
  margin-inline: auto;
}
.faq__content .accordion-item {
  border: none;
}
.faq__content .accordion-header {
  border-bottom: 1px solid var(--bs-accordion-border-color);
}
.faq__content .accordion-button:not(.collapsed) {
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}
.faq__content .accordion-body {
  line-height: 28px;
}

.learn__image {
  width: 30%;
}
@media (max-width: 991px) {
  .learn__image {
    width: 100%;
  }
}
.learn__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.learn__content {
  width: 40%;
}
@media (max-width: 991px) {
  .learn__content {
    width: 100%;
  }
}
.learn__content h1 {
  font-family: "Playfair Display", serif;
  letter-spacing: 0.5px;
  color: black;
}
.learn__content p {
  line-height: 28px;
}

.footer {
  background-color: #E1EAF3;
  gap: 0;
  padding: 90px 0;
}
.footer__logo {
  width: 45%;
}
@media (max-width: 1199px) {
  .footer__logo {
    width: 40%;
  }
}
@media (max-width: 991px) {
  .footer__logo {
    width: 100%;
  }
}
.footer__logo h1 {
  font-family: "Playfair Display", serif;
  letter-spacing: 0.5px;
  color: black;
}
.footer__logo p {
  color: #191717;
  line-height: 28px;
}
.footer__menu {
  width: auto;
  gap: 42px;
}
@media (max-width: 991px) {
  .footer__menu {
    width: 100%;
  }
}
.footer__menu__navigation {
  flex-direction: row;
  gap: 48px;
}
@media (max-width: 1399px) {
  .footer__menu__navigation {
    gap: 30px;
  }
}
@media (max-width: 1199px) {
  .footer__menu__navigation {
    gap: 24px;
  }
}
@media (max-width: 991px) {
  .footer__menu__navigation {
    gap: 32px;
  }
}
@media (max-width: 767px) {
  .footer__menu__navigation {
    flex-direction: row;
    gap: 28px;
  }
}
@media (max-width: 575px) {
  .footer__menu__navigation {
    flex-direction: column;
    gap: 18px;
  }
}
.footer__menu__navigation li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #191717;
}
.footer__menu__navigation li a:hover {
  color: #6B9BA9;
  transform: translate(0px, -2px);
}
.footer__menu__social {
  width: auto;
  gap: 28px;
}
.footer__menu__social li a {
  text-decoration: none;
  width: 48px;
  height: 48px;
  transition: background-color 0.3s;
}
.footer__menu__social li a svg {
  fill: #7D7C7C;
}
.footer__menu__social li a:hover {
  background: #6B9BA9;
}
.footer__menu__social li a:hover svg {
  fill: white;
}

.top-navbar {
  position: fixed;
  top: 0;
  z-index: 409;
  width: calc(100% - 250px);
  background-color: transparent;
}
@media (max-width: 1399px) {
  .top-navbar {
    width: calc(100% - 230px);
  }
}
.top-navbar .navbar-collapse {
  flex-grow: unset;
}
.top-navbar .navbar-collapse .navbar-nav a {
  font-size: 17px;
  color: #000;
}
.top-navbar .navbar-collapse .navbar-nav a:is(:active, .active, :hover) {
  color: #f2782f;
}
.top-navbar .navbar-collapse .dropdown-menu {
  --bs-dropdown-bg: #FFD9C2;
}
.top-navbar .navbar-collapse .dropdown-item:hover {
  background-color: transparent;
}
.top-navbar .navbar-collapse .dropdown-item:active {
  background-color: #ffccae;
}
.top-navbar.on-scroll {
  backdrop-filter: blur(14px);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  top: -50px;
  animation: navAnimate 0.5s forwards ease-in;
}

@keyframes navAnimate {
  to {
    top: 0px;
  }
}
.page-banner {
  background-color: #abddf3;
  height: fit-content;
}
.page-banner .wrapper {
  padding-top: 48px;
}
@media (max-width: 991px) {
  .page-banner .wrapper {
    padding-top: 68px;
  }
}
.page-banner__content {
  width: 50%;
}
@media (max-width: 991px) {
  .page-banner__content {
    width: 100%;
  }
}
.page-banner__content h1 {
  font-family: "Playfair Display", serif;
  letter-spacing: 0.5px;
}
.page-banner__content p {
  line-height: 28px;
}
.page-banner__image {
  width: 50%;
}
@media (max-width: 991px) {
  .page-banner__image {
    width: 100%;
  }
}
.page-banner__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.language-select select.form-select {
  width: 150px;
}
.language p.language-label {
  font-size: 18px;
  font-weight: 600;
}
@media (max-width: 991px) {
  .language p.language-label {
    font-size: 16px;
  }
}
.language select.form-select {
  border: 1px solid #FD9556;
}
.language select.form-select:focus {
  box-shadow: 0 0 0 0.25rem #FFD9C2;
}
.language select.form-select option:hover {
  box-shadow: 0 0 10px 100px #18a830 inset;
}
.language__flag {
  width: 50px;
  height: 30px;
}
.language__flag img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.language-cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 24px;
}
@media (max-width: 1399px) {
  .language-cards {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 24px;
    column-gap: 26px;
  }
}
@media (max-width: 1199px) {
  .language-cards {
    row-gap: 20px;
    column-gap: 20px;
  }
}
@media (max-width: 767px) {
  .language-cards {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 20px;
  }
}
@media (max-width: 575px) {
  .language-cards {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 20px;
    column-gap: 0px;
  }
}
.language-cards__wrapper {
  border-radius: 12px;
  padding: 8px;
  background-color: #ffefe4;
  height: 100%;
}
.language-cards__image {
  width: 100%;
  height: 120px;
}
.language-cards__image img {
  border-radius: 12px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.language-cards__content__body {
  width: 100%;
  padding: 8px;
  border-top: 0px;
  border-radius: 0px 0px 12px 12px;
}
.language-cards__info {
  gap: 10px;
}
.language-cards__info .title {
  color: #000;
  font-size: 24px;
  font-weight: 600;
}
.language-cards__info p {
  color: #000;
  font-size: 13px;
  font-weight: 400;
}
.language-cards__avatar {
  width: 35px;
  height: 35px;
  border-radius: 10px;
  object-fit: cover;
}
.language-cards button {
  outline: none;
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 14px;
  background-color: #f98642;
  font-weight: 400;
  color: #fff;
  font-family: inherit;
  cursor: pointer;
  transition: 0.3s all ease;
}
.language-cards button span {
  font-size: 12px;
  color: #656565;
}
.language-cards button:hover {
  opacity: 0.8;
}
.language-cards button:active {
  transform: scale(0.9);
}
/*--------------------- components files -----------------------*/