/*--------------------- Variable files -----------------------*/
/*--------------------- layouts files -----------------------*/
/*----------------------- base files --------------------------*/
/*------------------------ Merriweather and open sans -------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
/*-------------------- general styles-------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  background: #fff;
  font-size: 16px;
}
body::-webkit-scrollbar {
  width: 8px;
  height: 4px;
}
body::-webkit-scrollbar-track {
  background: #E9E9E9;
}
body::-webkit-scrollbar-thumb {
  background: #7D7C7C;
}
body::-webkit-scrollbar-thumb:hover {
  background: #7D7C7C;
}

p {
  margin-bottom: 0px !important;
}

/*----------------- anchors general styles ----------------*/
a {
  text-decoration: none !important;
  color: inherit;
}
a:hover {
  color: inherit;
}
a:focus, a:hover, a:active {
  outline: none;
}

/*-------------------- button styles-------------------------*/
.btn {
  cursor: pointer;
  outline: none !important;
  font-weight: 400;
}
.btn:focus, .btn:hover, .btn:active {
  outline: none !important;
}
.btn:active {
  transform: translateY(2px);
}

.button {
  font-size: 16px;
  outline: none;
}
.button-primary {
  font-weight: 600;
  font-size: 1rem;
  padding: 12px 28px;
  border: 1px solid transparent;
  border-radius: 6px;
  background: #ff5c00;
  color: #000;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.2s ease-in;
  cursor: pointer;
}
.button-primary:active {
  transform: translateY(0.1rem);
}
.button-primary:hover {
  border-radius: 6px;
  border: 1px solid #f98642;
  color: #000;
  opacity: 0.9;
  backdrop-filter: blur(15.9499998093px);
}
.button-chips {
  outline: none;
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 14px;
  background-color: #ff5c00;
  font-weight: 400;
  color: #fff;
  font-family: inherit;
  cursor: pointer;
  transition: 0.3s all ease;
}
.button-chips:hover {
  background-color: #f2782f;
  color: #fff;
}
.button-chips:active {
  transform: scale(0.9);
}

.section {
  padding-top: 80px;
}
.section__header {
  width: 500px;
  margin-bottom: 48px;
}
@media (max-width: 575px) {
  .section__header {
    width: 100%;
  }
}
.section__header h1 {
  font-family: "Playfair Display", serif;
  letter-spacing: 0.5px;
  color: #fff;
}
.section__header p {
  font-size: 16px;
  line-height: 28px;
  color: #fff;
}

.user-img {
  padding: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}
.user-img img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.user-img .user-tooltip {
  position: absolute;
  visibility: hidden;
  width: 150px;
  background-color: rgba(97, 97, 97, 0.8980392157);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  z-index: 1;
  bottom: -42px;
  left: -58px;
  opacity: 1;
  transition: opacity 0.3s;
  filter: drop-shadow(none) !important;
}
.user-img .user-tooltip::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
  transform: rotate(180deg);
}
.user-img:hover .user-tooltip {
  visibility: visible;
  opacity: 1;
}

.separator {
  border-top: 1px solid #abddf3;
}

.page-section {
  padding-top: 48px;
}

.gap-100 {
  gap: 100px;
}
@media (max-width: 991px) {
  .gap-100 {
    gap: 52px;
  }
}
@media (max-width: 767px) {
  .gap-100 {
    gap: 42px;
  }
}
@media (max-width: 575px) {
  .gap-100 {
    gap: 30px;
  }
}

.section-gap {
  margin-top: 62px;
}

.gradient-layer {
  background: linear-gradient(#AFC2C6, rgba(0, 0, 0, 0.01));
}

input.form-control, select, textarea.form-control {
  border: 1px solid #FD9556;
}
input.form-control:focus, select:focus, textarea.form-control:focus {
  border: 1px solid #FD9556;
  box-shadow: 0 0 4px 1px #abddf3;
}

textarea.form-control {
  resize: none;
}
textarea.form-control::-webkit-scrollbar {
  width: 6px;
}
textarea.form-control::-webkit-scrollbar-track {
  -webkit-box-shadow: #E9E9E9;
}
textarea.form-control::-webkit-scrollbar-thumb {
  border: 4px solid transparent;
  border-radius: 8px;
  background-color: #ffc996;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::selection {
  color: white;
  background-color: gray;
}

.wow {
  visibility: hidden;
}

.side-nav {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #e1eaf3;
  color: black;
  width: 300px;
  padding: 16px -6px;
  z-index: 50;
  box-shadow: 8px 0px 4px -6px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0px;
  left: 0px;
  overflow-y: auto;
}
.side-nav .logo {
  width: 160px;
}
.side-nav .logo img {
  width: 100%;
  height: 100%;
}
.side-nav::-webkit-scrollbar {
  width: 6px;
  height: 4px;
}
.side-nav::-webkit-scrollbar-track {
  background: #F1EFEF;
}
.side-nav::-webkit-scrollbar-thumb {
  background: #CCC8AA;
  border-radius: 20px;
}
.side-nav::-webkit-scrollbar-thumb:hover {
  background: #CCC8AA;
}
@media (max-width: 991px) {
  .side-nav {
    display: none;
  }
}
.side-nav a {
  font-size: 16px;
  font-weight: 500;
  padding: 15px 24px;
  transition: color, background-color 0.3s ease;
}
.side-nav a:is(:active, .active, :hover) {
  color: #FD9556;
  border-right: 5px solid #FD9556;
}

.nav-mobile {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 49;
  background-color: rgba(255, 255, 255, 0.4);
}
.nav-mobile .navbar-nav li a {
  color: #000;
}
.nav-mobile .navbar-nav .dropdown-menu {
  --bs-dropdown-bg: #c2d2e2;
}
.nav-mobile .navbar-nav .dropdown-item:hover {
  background-color: rgba(245, 245, 245, 0.58);
}
.nav-mobile .navbar-nav .dropdown-item:is(:active, :focus) {
  background-color: #ffccae;
}
.nav-mobile__button {
  width: 35px;
  height: 35px;
}
.nav-mobile__button svg {
  width: 100%;
  height: 100%;
}
.nav-mobile .offcanvas {
  background-color: #030022;
}
.nav-mobile .offcanvas-title {
  width: 100%;
}
.nav-mobile .offcanvas-body {
  overflow-y: auto;
  background: #030022;
  min-height: 100vh;
}
.nav-mobile .offcanvas-body a {
  color: #fff;
  margin: 8px 16px;
  background: #11101d;
  border-radius: 4px;
}
.nav-mobile .offcanvas-body a:hover {
  background: #ff5c00;
}
.nav-mobile .offcanvas-header button {
  background-color: transparent;
  width: 24px;
  height: 24px;
  box-shadow: none;
}
.nav-mobile .offcanvas-header button svg {
  width: 100%;
  height: 100%;
  fill: #fff;
  stroke: #fff;
}
.nav-mobile .offcanvas.offcanvas-start {
  width: 250px;
}
.nav-mobile.inner-page:not(.on-scroll) .navbar-nav li a {
  color: #fff;
}
.nav-mobile.inner-page:not(.on-scroll) .navbar-nav li a.dropdown-item {
  color: #000;
}
.nav-mobile.inner-page:not(.on-scroll) .nav-mobile__button svg {
  fill: #fff;
}
.nav-mobile.on-scroll {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  backdrop-filter: blur(14px);
  top: -50px;
  animation: navAnimate 0.5s forwards ease-in;
}
.nav-mobile::-webkit-scrollbar {
  width: 6px;
  height: 4px;
}
.nav-mobile::-webkit-scrollbar-track {
  background: #F1EFEF;
}
.nav-mobile::-webkit-scrollbar-thumb {
  background: #CCC8AA;
  border-radius: 20px;
}
.nav-mobile::-webkit-scrollbar-thumb:hover {
  background: #CCC8AA;
}

.nav-lists-mobile a {
  font-size: 16px;
  font-weight: 400;
  padding: 15px 30px;
  transition: color, background-color 0.3s ease;
}
.nav-lists-mobile a.active {
  color: white;
  background-color: rgba(97, 231, 228, 0.0784313725);
}

.sidebar {
  position: sticky;
  left: 0;
  top: 0;
  height: 100vh;
  width: 80px;
  background: #030022;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar::-webkit-scrollbar {
  width: 6px;
  height: 4px;
}
.sidebar::-webkit-scrollbar-track {
  background: #F1EFEF;
}
.sidebar::-webkit-scrollbar-thumb {
  background: #CCC8AA;
  border-radius: 20px;
}
.sidebar::-webkit-scrollbar-thumb:hover {
  background: #CCC8AA;
}

.sidebar.open {
  width: 250px;
}

.sidebar .logo-details {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}

.sidebar .logo-details .icon {
  opacity: 0;
  transition: all 0.5s ease;
}

.sidebar .logo-details .logo_name {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}

.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
  opacity: 1;
}

.sidebar .logo-details #btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

.sidebar.open .logo-details #btn {
  text-align: right;
}

.sidebar i {
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}

.sidebar .nav-list {
  margin-top: 20px;
  height: 100%;
}

.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}

.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 300;
  background: #000;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}

.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}

.sidebar.open li .tooltip {
  display: none;
}

.sidebar input {
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
}

.sidebar.open input {
  padding: 0 20px 0 50px;
  width: 100%;
}

.sidebar .bx-search {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b31;
  color: #fff;
}

.sidebar.open .bx-search:hover {
  background: #1d1b31;
  color: #fff;
}

.sidebar .bx-search:hover {
  background: #fff;
  color: #11101d;
}

.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #11101d;
}

.sidebar li a:is(:hover, :active, .active) {
  background: #ff5c00;
}

.sidebar li a .links_name {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}

.sidebar.open li a .links_name {
  opacity: 1;
  pointer-events: auto;
}

.sidebar li a:is(:hover, :active, .active) .links_name,
.sidebar li a:is(:hover, :active, .active) i {
  transition: all 0.5s ease;
  color: #11101d;
}

.sidebar li i {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}

.sidebar li.profile {
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #1d1b31;
  transition: all 0.5s ease;
  overflow: hidden;
}

.sidebar.open li.profile {
  width: 250px;
}

.sidebar li .profile-details {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.sidebar li.profile .name,
.sidebar li.profile .job {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}

.sidebar li.profile .job {
  font-size: 12px;
}

.sidebar .profile #log_out {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #1d1b31;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}

.sidebar.open .profile #log_out {
  width: 50px;
  background: none;
}

.home-section {
  position: relative;
  background: #081f35;
  min-height: 100vh;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}
@media (max-width: 991px) {
  .home-section {
    width: 100%;
  }
}

.sidebar.open ~ .home-section {
  width: calc(100% - 250px);
}
.home-section .text {
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px;
}

@media (max-width: 420px) {
  .sidebar li .tooltip {
    display: none;
  }
}
.banner {
  background-image: linear-gradient(to bottom, rgba(217, 137, 96, 0.76), rgba(166, 166, 166, 0)), url("../../assets/ai-banner-4.jpeg");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
}
.banner__content {
  width: 750px;
  border-width: 2px;
  border-style: solid;
  box-shadow: 0px 2px 0px rgba(255, 255, 255, 0.15);
  background-color: rgba(255, 255, 255, 0.15);
  border-image: linear-gradient(to right, rgb(255, 201, 150) 0%, rgb(225, 225, 225) 50%, rgba(255, 255, 255, 0.15) 100%) 1;
  backdrop-filter: blur(8.6499996185px);
  padding-block: 16px 40px;
  padding-inline: 8px;
  border-radius: 12px;
}
@media (max-width: 991px) {
  .banner__content {
    padding-inline: 16px;
    width: 100%;
  }
}
.banner__content--heading h1 {
  font-family: "Playfair Display", serif;
  font-size: 62px;
  text-align: center;
  font-weight: 400;
  color: black;
}
@media (max-width: 991px) {
  .banner__content--heading h1 {
    font-size: 52px;
  }
}
@media (max-width: 575px) {
  .banner__content--heading h1 {
    font-size: 42px;
  }
}
.banner__content--heading--italic {
  letter-spacing: 1px;
  font-weight: 500;
}
.banner__content--description {
  width: 559px;
}
.banner__content--description p {
  color: black;
}
@media (max-width: 991px) {
  .banner__content--description {
    width: 100%;
  }
}

:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: "Rubik", sans-serif;
  --font-serif: "Cardo", serif;
}

.features {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 20px;
}
@media (max-width: 1399px) {
  .features {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 24px;
    column-gap: 26px;
  }
}
@media (max-width: 1199px) {
  .features {
    row-gap: 20px;
    column-gap: 20px;
  }
}
@media (max-width: 767px) {
  .features {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 20px;
  }
}
@media (max-width: 575px) {
  .features {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 20px;
    column-gap: 0px;
  }
}
.features__card {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  height: 280px;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
@media (max-width: 991px) {
  .features__card {
    width: 100%;
  }
}
.features__card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: center;
  -webkit-transition: -webkit-transform calc(var(--d) * 1.5) var(--e);
  transition: -webkit-transform calc(var(--d) * 1.5) var(--e);
  transition: transform calc(var(--d) * 1.5) var(--e);
  transition: transform calc(var(--d) * 1.5) var(--e), -webkit-transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}
.features__card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform calc(var(--d) * 2) var(--e);
  transition: -webkit-transform calc(var(--d) * 2) var(--e);
  transition: transform calc(var(--d) * 2) var(--e);
  transition: transform calc(var(--d) * 2) var(--e), -webkit-transform calc(var(--d) * 2) var(--e);
}
.features__card__content {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  -webkit-transition: -webkit-transform var(--d) var(--e);
  transition: -webkit-transform var(--d) var(--e);
  transition: transform var(--d) var(--e);
  transition: transform var(--d) var(--e), -webkit-transform var(--d) var(--e);
  z-index: 1;
}
.features__card__content > * + * {
  margin-top: 1rem;
}
.features__card:nth-child(1):before {
  background-image: url("../../assets/ai-text-5.png");
}
.features__card:nth-child(2):before {
  background-image: url("../../assets/ai-image.jpg");
}
.features__card:nth-child(3):before {
  background-image: url("../../assets/audio-ai.png");
}
.features__card:nth-child(4):before {
  background-image: url("../../assets/pronunciation.jpeg");
}
.features__card:nth-child(5):before {
  background-image: url("../../assets/conversation.png");
}

@media (hover: hover) and (min-width: 600px) {
  .features__card::after {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  .features__card__content {
    -webkit-transform: translateY(calc(100% - 5.2rem));
    transform: translateY(calc(100% - 5.2rem));
  }
  .features__card__content h2 {
    font-weight: 600;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
  }
  .features__card__content > *:not(.heading) {
    opacity: 0;
    -webkit-transform: translateY(1rem);
    transform: translateY(1rem);
    -webkit-transition: opacity var(--d) var(--e), -webkit-transform var(--d) var(--e);
    transition: opacity var(--d) var(--e), -webkit-transform var(--d) var(--e);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e), -webkit-transform var(--d) var(--e);
  }
  .features__card:is(:hover, :focus-within) {
    -webkit-box-align: center;
    align-items: center;
  }
  .features__card:is(:hover, :focus-within)::before {
    -webkit-transform: translateY(-4%);
    transform: translateY(-4%);
  }
  .features__card:is(:hover, :focus-within)::after {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .features__card:is(:hover, :focus-within) .features__card__content {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  .features__card:is(:hover, :focus-within) .features__card__content > *:not(.heading) {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition-delay: calc(var(--d) / 8);
    transition-delay: calc(var(--d) / 8);
  }
  .features__card:focus-within:is(::before, ::after, .features__card__content, .features__card__content *:not(.heading)) {
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
  }
}
.subject {
  max-height: 450px;
}
@media (max-width: 991px) {
  .subject {
    max-height: fit-content;
  }
}
.subject__image {
  max-height: 100%;
  width: 40%;
}
@media (max-width: 991px) {
  .subject__image {
    max-height: 50%;
    width: 100%;
  }
}
.subject__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.subject__content {
  width: 40%;
}
@media (max-width: 991px) {
  .subject__content {
    width: 100%;
  }
}
.subject__content h1 {
  font-family: "Playfair Display", serif;
  letter-spacing: 0.5px;
  padding-bottom: 20px;
  margin-bottom: 0;
}
.subject__content p {
  font-size: 16px;
  line-height: 28px;
}

.faq__image {
  width: 50%;
}
@media (max-width: 991px) {
  .faq__image {
    width: 100%;
  }
}
.faq__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.faq__content {
  width: 50%;
}
@media (max-width: 991px) {
  .faq__content {
    width: 100%;
  }
}
.faq__content .accordion {
  width: 100%;
  --bs-accordion-bg: transparent;
  --bs-accordion-color: #fff;
  --bs-accordion-btn-color: #fff;
  --bs-accordion-active-color: #fff;
  --bs-accordion-active-bg: transparent;
  --bs-accordion-btn-focus-box-shadow: none;
  --bs-accordion-border-color: #6B9BA9;
  --bs-border-width: 0px;
  --bs-accordion-btn-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 27 27' fill='none'%3E%3Ccircle cx='13.25' cy='13.25' r='12.75' stroke='%236B9BA9'/%3E%3Cpath d='M17.1145 11.042L13.2912 15.061L9.59534 11.0716' stroke='%236B9BA9' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 27 27' fill='none'%3E%3Ccircle cx='13.25' cy='13.25' r='12.75' stroke='%236B9BA9'/%3E%3Cpath d='M17.1145 11.042L13.2912 15.061L9.59534 11.0716' stroke='%236B9BA9' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  --bs-accordion-btn-icon-transition: transform 0.5s ease-in-out;
  --bs-accordion-btn-icon-width: 24px;
  --bs-accordion-transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,border-radius 0.15s ease,
                              border-bottom 0.15s ease-in-out;
  margin-inline: auto;
}
.faq__content .accordion-item {
  border: none;
}
.faq__content .accordion-header {
  border-bottom: 1px solid var(--bs-accordion-border-color);
}
.faq__content .accordion-button:not(.collapsed) {
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}
.faq__content .accordion-body {
  line-height: 28px;
}

.learn__image {
  width: 30%;
}
@media (max-width: 991px) {
  .learn__image {
    width: 100%;
  }
}
.learn__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.learn__content {
  width: 40%;
}
@media (max-width: 991px) {
  .learn__content {
    width: 100%;
  }
}
.learn__content h1 {
  font-family: "Playfair Display", serif;
  letter-spacing: 0.5px;
}
.learn__content p {
  line-height: 28px;
}

.footer {
  gap: 0;
  padding: 90px 0;
}
.footer__logo {
  width: 45%;
}
@media (max-width: 1199px) {
  .footer__logo {
    width: 40%;
  }
}
@media (max-width: 991px) {
  .footer__logo {
    width: 100%;
  }
}
.footer__logo h1 {
  font-family: "Playfair Display", serif;
  letter-spacing: 0.5px;
}
.footer__logo p {
  line-height: 28px;
}
.footer__menu {
  width: auto;
  gap: 42px;
}
@media (max-width: 991px) {
  .footer__menu {
    width: 100%;
  }
}
.footer__menu__navigation {
  flex-direction: row;
  gap: 48px;
}
@media (max-width: 1399px) {
  .footer__menu__navigation {
    gap: 30px;
  }
}
@media (max-width: 1199px) {
  .footer__menu__navigation {
    gap: 24px;
  }
}
@media (max-width: 991px) {
  .footer__menu__navigation {
    gap: 32px;
  }
}
@media (max-width: 767px) {
  .footer__menu__navigation {
    flex-direction: row;
    gap: 28px;
  }
}
@media (max-width: 575px) {
  .footer__menu__navigation {
    flex-direction: column;
    gap: 18px;
  }
}
.footer__menu__navigation li a {
  text-transform: uppercase;
  text-decoration: none;
}
.footer__menu__navigation li a:hover {
  color: #6B9BA9;
  transform: translate(0px, -2px);
}
.footer__menu__social {
  width: auto;
  gap: 28px;
}
.footer__menu__social li a {
  text-decoration: none;
  width: 48px;
  height: 48px;
  transition: background-color 0.3s;
}
.footer__menu__social li a svg {
  fill: #7D7C7C;
}
.footer__menu__social li a:hover {
  background: #6B9BA9;
}
.footer__menu__social li a:hover svg {
  fill: white;
}

.top-navbar {
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: transparent;
  transition: all 0.5s ease-in;
  width: -webkit-fill-available;
}
.top-navbar .navbar-collapse {
  flex-grow: unset;
}
.top-navbar .navbar-collapse .navbar-nav li a {
  font-size: 20px;
  font-weight: 500;
  color: #000;
  position: relative;
  background-color: transparent;
  transition: all 0.3s ease;
  border-radius: 6px;
  padding-inline: 12px;
}
.top-navbar .navbar-collapse .navbar-nav li a:is(:active, .active, :hover) {
  color: #000;
  background-color: rgba(245, 245, 245, 0.1215686275);
}
@media (max-width: 575px) {
  .top-navbar .navbar-collapse .navbar-nav li a {
    font-size: 16px;
    padding-inline: 12px;
  }
}
@media (max-width: 767px) {
  .top-navbar .navbar-collapse .navbar-nav li a {
    font-size: 18px;
  }
}
.top-navbar .navbar-collapse .navbar-nav.inner-page p {
  color: #fff;
}
.top-navbar .navbar-collapse .navbar-nav.inner-page a {
  color: #fff;
}
.top-navbar .navbar-collapse .navbar-nav.inner-page a.dropdown-item {
  color: #000;
}
.top-navbar .navbar-collapse .navbar-nav.inner-page a:is(:active, .active, :hover) {
  color: #fff;
  background-color: rgba(245, 245, 245, 0.1215686275);
}
.top-navbar .navbar-collapse .navbar-nav.inner-page svg {
  fill: #fff;
}
.top-navbar .navbar-collapse .dropdown-menu {
  --bs-dropdown-bg: #c2d2e2;
}
.top-navbar .navbar-collapse .dropdown-item:hover {
  background-color: rgba(245, 245, 245, 0.58);
}
.top-navbar .navbar-collapse .dropdown-item:active {
  background-color: #ffccae;
}
.top-navbar.on-scroll {
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(14px);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  top: -50px;
  animation: navAnimate 0.5s forwards ease-in;
}
.top-navbar.on-scroll .navbar-nav.inner-page p {
  color: #000;
}
.top-navbar.on-scroll .navbar-nav.inner-page a {
  color: #000;
}
.top-navbar.on-scroll .navbar-nav.inner-page a:is(:active, .active, :hover) {
  color: #000;
  background-color: rgba(245, 245, 245, 0.1215686275);
}
.top-navbar.on-scroll .navbar-nav.inner-page svg {
  fill: #000;
}

@keyframes navAnimate {
  to {
    top: 0px;
  }
}
.page-banner {
  background-color: #081f35;
  height: fit-content;
}
.page-banner .wrapper {
  padding-top: 48px;
}
@media (max-width: 991px) {
  .page-banner .wrapper {
    padding-top: 68px;
  }
}
.page-banner__content {
  width: 50%;
}
@media (max-width: 991px) {
  .page-banner__content {
    width: 100%;
  }
}
.page-banner__content h1 {
  font-family: "Playfair Display", serif;
  letter-spacing: 0.5px;
}
.page-banner__content p {
  line-height: 28px;
}
.page-banner__image {
  width: 50%;
}
@media (max-width: 991px) {
  .page-banner__image {
    width: 100%;
  }
}
.page-banner__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.language-select select.form-select {
  width: 150px;
}
.language p.language-label {
  font-size: 18px;
  font-weight: 600;
}
@media (max-width: 991px) {
  .language p.language-label {
    font-size: 16px;
  }
}
.language select.form-select {
  border: 1px solid #FD9556;
}
.language select.form-select:focus {
  box-shadow: 0 0 4px 1px #abddf3;
}
.language__flag {
  width: 50px;
  height: 30px;
}
.language__flag img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.language-cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 24px;
}
@media (max-width: 1399px) {
  .language-cards {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 24px;
    column-gap: 26px;
  }
}
@media (max-width: 1199px) {
  .language-cards {
    row-gap: 20px;
    column-gap: 20px;
  }
}
@media (max-width: 767px) {
  .language-cards {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 20px;
  }
}
@media (max-width: 575px) {
  .language-cards {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 20px;
    column-gap: 0px;
  }
}
.language-cards__wrapper {
  border-radius: 12px;
  padding: 8px;
  background-color: #c2d2e2;
  height: 100%;
  transition: all 0.2s ease-in;
}
.language-cards__wrapper:hover {
  box-shadow: #c2d2e2 0px 4px 5px;
}
.language-cards__image {
  width: 100%;
  height: 120px;
}
.language-cards__image img {
  border-radius: 12px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.language-cards__content__body {
  width: 100%;
  padding: 8px;
  border-top: 0px;
  border-radius: 0px 0px 12px 12px;
}
.language-cards__info {
  gap: 10px;
}
.language-cards__info .title {
  color: #000;
  font-size: 24px;
  font-weight: 600;
}
.language-cards__info p {
  color: #000;
  font-size: 13px;
  font-weight: 400;
}
.language-cards__avatar {
  width: 35px;
  height: 35px;
  border-radius: 10px;
  object-fit: cover;
}
.language-material .card-box {
  width: 100%;
  padding: 16px;
  border-radius: 12px;
  background-color: #c2d2e2;
  box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
}
.language-material .card-box h2 {
  font-weight: 600;
  color: #000;
}
.language-material .card-box p {
  color: #000;
}
.language-material--left {
  width: 50%;
}
@media (max-width: 1199px) {
  .language-material--left {
    width: 100%;
  }
}
.language-material--left .description {
  max-height: 180px;
  overflow: auto;
}
.language-material--left textarea.form-control:disabled {
  background-color: #fff5ef;
}
.language-material--right {
  width: 50%;
}
@media (max-width: 1199px) {
  .language-material--right {
    width: 100%;
  }
}
.language-material--right h2 {
  font-weight: 600;
}
.language-material--right .field label {
  width: 150px;
  color: #000;
}
.language-material--right .field select,
.language-material--right .field input {
  max-width: 250px;
}
.language-material--right .field .width-auto {
  width: fit-content;
  max-width: 390px;
}
@media (max-width: 575px) {
  .language-material--right .field .width-auto {
    max-width: 206px;
  }
}
.language-material--right .field.checkbox .form-check label {
  color: #000;
  width: fit-content;
  max-width: 100%;
}
.language-material--right .field.checkbox .form-check input.form-check-input {
  border: 1px solid #FD9556;
}
.language-material--right .field.checkbox .form-check input.form-check-input:focus {
  box-shadow: 0 0 0 0.25rem #c2d2e2;
}
.language-material--right .field.checkbox .form-check input.form-check-input:checked {
  background-color: #f2782f;
}

.login {
  min-height: 100vh;
  background-color: #081f35;
}
.login__content {
  width: 450px;
}
@media (max-width: 575px) {
  .login__content {
    padding: 0px 16px;
    width: 100%;
  }
}
.login__content .input {
  width: 80%;
}
.login__content .input-email {
  position: relative;
}
.login__content .input-email svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 8px;
  stroke: #9e9e9e;
  -webkit-text-stroke-color: #9e9e9e;
}
.login__content .input-password {
  position: relative;
  width: 80%;
}
.login__content .input-password svg {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 50%;
  transform: translateY(-50%);
  left: 8px;
  fill: #fff;
}
.login__content input.form-control {
  padding-left: 34px;
  color: #fff;
  border: 1px solid #6B9BA9;
  background-color: #031425;
  caret-color: #fff;
}
.login__content input.form-control::placeholder {
  color: #9e9e9e;
}
.login__content-terms p {
  font-size: 14px;
  color: #e7e7e7;
}
.login__content-terms p a {
  position: relative;
  border-bottom: 1px solid;
  transition: color 0.2s ease;
  color: rgb(13, 202, 240);
}
.login__content-terms p a:hover {
  color: white;
}
.login__content__button {
  width: 80%;
}
.login__content__button button {
  padding: 8px 0px;
  width: 100%;
}

/*--------------------- components files -----------------------*/