.top-navbar{
    position: fixed;
    top: 0;
    z-index: 409;
    width: calc(100% - 250px);
    @include large-screen{
        width: calc(100% - 230px);
    }
    background-color: transparent;
    // border: 2px solid red;
    .navbar-collapse{
      flex-grow: unset;
      .navbar-nav a{
        font-size: 17px;
        color: #000;
        &:is(:active, .active, :hover) {
          color: $orange-color-300;
          // border-right: 5px solid $orange-color-200;
        }
      }
      .dropdown{
        &-menu{
          --bs-dropdown-bg: #FFD9C2;
        }
        &-item{
          &:hover{
            background-color: transparent;
          }
          &:active{
            background-color: $orange-color-75;
          }
        }
      }
    }
    &.on-scroll{
        // backdrop-filter: blur(14px);
        backdrop-filter: blur(14px);
        box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
        top: -50px;
        animation: navAnimate 0.5s forwards ease-in;
    }
  }
  @keyframes navAnimate{
    to{
        top: 0px;
    }
}