.top-navbar{
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: transparent;
    transition: all 0.5s ease-in;
    width: -webkit-fill-available;
    .navbar-collapse{
      flex-grow: unset;
      .navbar-nav {
        li{
          a{
            font-size: 20px;
            font-weight: 500;
            color: #000;
            position: relative;
            background-color: transparent;
            transition: all 0.3s ease;
            border-radius: 6px;
            padding-inline: 12px;
            &:is(:active, .active, :hover) {
              color: #000;
              background-color: #f5f5f51f;
            }
            @include mobile{
              font-size: 16px;
            }
            @include mobile{
              font-size: 18px;
            }
          }
        }
        &.inner-page{
          p{
            color: #fff;
          }
          a{
            color: #fff;
            &.dropdown-item{
              color: #000;
            }
            &:is(:active, .active, :hover) {
              color: #fff;
              background-color: #f5f5f51f;
            }
          }
          svg{
            fill: #fff;
          }
        }
      }
      
      

      .dropdown {

        &-menu{
          --bs-dropdown-bg: #c2d2e2;
        }
        
        &-item{
          &:hover{
            background-color: rgb(245 245 245 / 58%);
          }
          &:active{
            background-color: $orange-color-75;
          }
        }
        
      }
    }

    &.on-scroll{
        background-color: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(14px);
        box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
        top: -50px;
        animation: navAnimate 0.5s forwards ease-in;
        .navbar-nav.inner-page{
          p{
            color: #000;
          }
          a{
            color: #000;
            &:is(:active, .active, :hover) {
              color: #000;
              background-color: #f5f5f51f;
            }
          }
          svg{
            fill: #000;
          }
        }
    }
}
  
  @keyframes navAnimate{
    to{
        top: 0px;
    }
  }