.top-navbar {
  &.navbar {
    --bs-navbar-padding-y: 0px;
  }

  // border: 2px solid red;
  // border-bottom: 2px solid $blue-color-350;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: #fff;
  transition: all 0.5s ease-in;
  width: -webkit-fill-available;
  box-shadow: 0 1px 5px -2px rgba(42,42,42,.4);
  .toolbar {
    border-bottom: 1px dotted #000;
    padding-block: 16px;

    &--left {
      p {
        font-size: 13px;
        color: #000;
      }
    }

    &--right {
      .toolbar-item {
        p, a{
          border-right: 1px solid black;
          padding-left: 20px;
          padding-right: 20px;
          font-size: 13px;
          color: #000;
        }
        &:hover {
          text-decoration: underline;
        }
        &:last-child a {
          padding-left: 20px;
          padding-right: 0;
          border-right: none;
        }
        
      }
    }
  }
  &__header{
    h1{
      font-family: 'Satoshi Regular';
      font-weight: 600;
      color: $blue-color-350;
    }
  }
  &--wrapper{
    height: 60px;
  }

  .navbar-collapse {
    flex-grow: unset;
    height: 100%;
  }
  .navbar-nav {
    height: 100%;
    li {
      height: 100%;
      display: flex;
      align-items: center;
      position: relative;
      a {
        font-weight: 500;
        color: #000;
        position: relative;
        background-color: transparent;
        transition: all 0.3s ease;
        border-radius: 6px;
        padding-left: 12px;
        padding-right: 12px;
      }
      &.nav-item{
        &::before{
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 5%;
          width: 0px;
          height: 3px;
          background-color: $secondary-orange-100;
          transition: all 0.5s ease;
        }
        &:hover{
          &::before{
            width: 85%;
          }
        }
      }
    }

    .nav-link {
      font-size: 16px;
      font-weight: 500;
      color: #000;
    }
  }
  // custom dropdown
  .dropdown {
    &__item {
      cursor: pointer;
      position: relative;
    }

    &__arrow {
      font-size: 14px;
      margin-left: 2px;
      // font-weight: initial;
      transition: transform .4s;
    }
    &__link{
      color: #000;
      font-size: 16px;
      cursor: pointer;
      padding-block: 6px;
      display: block;
    }
    &__menu {
      max-height: initial;
      overflow: initial;
      position: absolute;
      background-color: #fff;
      list-style: none;
      box-shadow: 0 1px 5px -1px rgba(0, 0, 0, .3);
      -webkit-box-shadow: 0 1px 5px -1px rgba(0, 0, 0, .3);
      left: -15px;
      top: 4.5rem;
      padding-block: 16px;
      padding-inline-start: 0;
      opacity: 0;
      z-index: 10;
      pointer-events: none;
      transition: opacity .3s, top .3s;
      &--lg{
        min-width: 280px;
      }
      &--sm{
        min-width: 200px;
      }
      li{
        padding-inline: 16px;
        a{
          font-size: 16px;
        }
        &:hover{
          a{
            color: $secondary-orange-100;
          }
        }
      }
    }

    // Show dropdown menu
    &__item:hover {
      .dropdown__arrow{
        transform: rotate(180deg)
      }
      .dropdown__menu {
        opacity: 1;
        top: 3.5rem;
        pointer-events: initial;
        transition: top .3s;
      }
    }
  }
  // bootstrap dropdown
  .dropdown{
    &-toggle{
      outline: none;
      background-color: unset;
      border: 0 ;
      font-size: 13px;
      padding-left: 20px;
      padding-right: 20px;
      border-right: 1px solid black;
      &.last{
        padding-right: 0px;
        border-right: none;
      }
    }
    &-menu{
      li a {
        font-size: 13px;
        &:is(:hover, :active){
          background-color: #eff1f4;
          color: #000;
        }
      }
    }
    &-menu[data-bs-popper]{
      left: -37px;
    }
  }
}

@keyframes navAnimate {
  to {
    top: 0px;
  }
}