.banner{
    background-image: linear-gradient(180deg, rgba(21, 27, 39, 0.50) 0%, rgba(74, 70, 101, 0.50) 55.37%),url('../assets/banner-ai.jpeg');
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    &::before{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #1e3a57bf;
        opacity: 0.8;
        inset: 0%;
        mix-blend-mode: multiply;
    }
    &__content{
        &--heading{
            font-family: 'Satoshi', sans-serif;
            h1{
                font-size: 62px;
                text-align: center;
                color: white;
                font-weight: 400;
                @include large-screen{
                    font-size: 58px;
                }
                @include laptop{
                    font-size: 52px;
                }
                @include tablet{
                    font-size: 42px;
                }
                @include mobile{
                    font-size: 36px;
                }
            }
            &--italic{
                letter-spacing: 1px;
                font-weight: 500;
            }
        }
        &--description{
            width: 559px;
            p{
                // color: black;
            }
            @include laptop{
                width: 100%;
            }
        }
    }
}