.banner{
    // linear-gradient(rgba(0,0,0,.01), rgba(0,0,0,.01)),
    background: linear-gradient(#AFC2C6, rgba(0,0,0,.01));
    min-height: 100vh;
    position: relative;
    // z-index: -2;
    &__bg{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 100%;
        height: 450px;
        // z-index: -1;
        // border: 2px solid red;
        background-image: url('../../assets/banner-bg-3.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

    }
    &__heading{
        width: 650px;
        h1{
            font-family: "Playfair Display", serif;
            font-size: 72px;
            text-align: center;
            font-weight: 400;
            color: black;
        }
        &--italic{
            letter-spacing: 1px;
            font-weight: 500;
        }
    }
    &__description{
        width: 500px;
    }
    

}