.banner{
    background-image: linear-gradient(to bottom, rgb(217 137 96 / 76%), rgb(166 166 166 / 0%)), url('../../assets/ai-banner-4.jpeg');
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
    &__content{
        width: 750px;
        border-width: 2px;
        border-style: solid;
        box-shadow: 0px 2px 0px rgba(255, 255, 255, 0.15);
        background-color: rgba(255, 255, 255, 0.15);
        border-image: linear-gradient(to right, rgb(255 201 150)  0%, rgba(225, 225, 225, 1) 50%, rgba(255, 255, 255, 0.15) 100%) 1;
        backdrop-filter: blur(8.649999618530273px);
        padding-block: 16px 40px;
        padding-inline: 8px;
        border-radius: 12px;
        @include laptop{
            padding-inline: 16px;
            width: 100%;
        }
        &--heading{
            h1{
                font-family: "Playfair Display", serif;
                font-size: 62px;
                text-align: center;
                font-weight: 400;
                color: black;
                @include laptop{
                    font-size: 52px;
                }
                @include mobile{
                    font-size: 42px;
                }
            }
            &--italic{
                letter-spacing: 1px;
                font-weight: 500;
            }
        }
        &--description{
            width: 559px;
            p{
                color: black;
            }
            @include laptop{
                width: 100%;
            }
        }
    }
}