.learn {
    &__image {
        width: 30%;
        @include desktop{
            width: 40%;
        }
        @include laptop {
            width: 100%;
        }

        // border: 2px solid red;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__content {
        width: 40%;
        @include laptop {
            width: 100%;
        }

        h1 {
            font-family: "Satoshi Regular", serif;
            letter-spacing: 0.5px;
            font-weight: 600;
            color: $blue-color-350;
            @include desktop{
                font-size: 32px;
            }
        }

        p {
            line-height: 28px;
        }
    }
}