.login{
    min-height: 100vh;
    background-color: #fff;
    
    &__content{
        width: 450px;
        h1{
            font-family: 'Satoshi Bold';
            color: $blue-color-350;
        }
        @include mobile{
            padding: 0px 16px;
            width: 100%;
        }
        .input{
            width: 80%;
            &-email{
                position: relative;
                svg{
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 8px;
                    stroke: #777575;
                    -webkit-text-stroke-color: #777575;
                }
            }
            &-password{
                position: relative;
                width: 80%;
                svg{
                    position: absolute;
                    width: 16px;
                    height: 16px;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 8px;
                    fill: #000;
                
                }
            }
            
        }
        input{
            &.form-control{
                padding-left: 34px;
                color: #000;
                
                border: 1px solid $blue-color-100;
                background-color: #eaeaea;
                caret-color: $blue-color-350; 
                &::placeholder{
                    color: $dark-color-d75;
                }
            }
            &.form-check-input{
                border: 1px solid $blue-color-350;
                &:focus {
                    border: 1px solid $blue-color-350;
                    box-shadow: 0 0 4px 1px $blue-color-50;
                  }
            }
        }

        &-terms{
            p{
                font-size: 14px;
                color: $dark-color-d200;
                a{
                    position: relative;
                    border-bottom: 1px solid ;
                    transition: color 0.2s ease;
                    // transform: translateY(-1px);
                    &:hover{
                        color: #1b6ee0;
                    }
                }
            }
        }
        &__button{
            width: 80%;
            button{
                padding: 8px 0px;
                width: 100%;
            }
        }
    }
}