.page-banner {
    // background-color: $blue-color-350;
    margin-top: 100px;
    height: fit-content;

    .wrapper {
        padding-top: 48px;

        @include laptop {
            padding-top: 68px;
        }
    }

    &__content {
        width: 50%;

        @include laptop {
            width: 100%;
        }

        h1 {
            font-family: "Satoshi Regular";
            font-weight: 600;
            color: $blue-color-350;
            letter-spacing: 0.5px;
        }

        p {
            line-height: 28px;
        }
    }

    &__image {
        width: 50%;

        @include laptop {
            width: 100%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}