.language {
    &-select {
        select.form-select {
            width: 150px;
        }
    }

    p.language-label {
        font-size: 18px;
        font-weight: 600;

        @include laptop {
            font-size: 16px;
        }
    }

    select.form-select {
        border: 1px solid $orange-color-200;

        &:focus {
            box-shadow: 0 0 4px 1px $blue-color-50;
        }

        // option {
        //     &:hover {
        //         box-shadow: 0 0 10px 100px #18a830 inset;
        //     }
        // }
    }

    &__flag {
        width: 50px;
        height: 30px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &-cards {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 24px;

        // height: 280px;
        @include large-screen {
            grid-template-columns: repeat(3, 1fr);
            row-gap: 24px;
            column-gap: 26px;
        }

        @include desktop {
            row-gap: 20px;
            column-gap: 20px;
        }

        @include tablet {
            grid-template-columns: repeat(2, 1fr);
            row-gap: 20px;
            column-gap: 20px;
        }

        @include mobile {
            grid-template-columns: repeat(1, 1fr);
            row-gap: 20px;
            column-gap: 0px;
        }

        &__wrapper {
            border-radius: 12px;
            padding: 8px;
            background-color: $blue-color-25;
            height: 100%;
            transition: all 0.2s ease-in;

            &:hover {
                box-shadow: $blue-color-25 0px 4px 5px;
            }

        }

        &__image {
            // position: relative;
            width: 100%;
            height: 120px;

            img {
                border-radius: 12px;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__content {
            &__body {
                width: 100%;
                padding: 8px;
                border-top: 0px;
                border-radius: 0px 0px 12px 12px;
            }
        }

        &__info {
            gap: 10px;

            .title {
                color: #000;
                font-size: 24px;
                font-weight: 600;
            }

            p {
                color: #000;
                font-size: 13px;
                font-weight: 400;
            }

        }

        &__avatar {
            width: 35px;
            height: 35px;
            border-radius: 10px;
            object-fit: cover;
        }

        // span {
        //     font-size: 12px;
        //     color: #656565;
        // }

    }

    &-material {
        .card-box {
            width: 100%;
            padding: 16px;
            border-radius: 12px;
            background-color: $blue-color-25;
            box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;

            h2 {
                font-weight: 600;
                color: #000;
            }
            p{
                color: #000;
            }
        }

        &--left {
            width: 50%;

            @include desktop {
                width: 100%;
            }

            .description {
                max-height: 180px;
                overflow: auto;
            }

            textarea.form-control {
                &:disabled {
                    background-color: $orange-color-25;
                }
            }

        }

        &--right {
            width: 50%;

            @include desktop {
                width: 100%;
            }

            h2 {
                font-weight: 600;
            }

            .field {
                label {
                    width: 150px;
                    color: #000;
                }

                select,
                input {
                    max-width: 250px;
                }

                .width-auto {
                    width: fit-content;
                    max-width: 390px;

                    @include mobile {
                        max-width: 206px;
                    }
                }

                &.checkbox {
                    .form-check {
                        label {
                            color: #000;
                            width: fit-content;
                            max-width: 100%;
                        }

                        input.form-check-input {
                            border: 1px solid $orange-color-200;

                            &:focus {
                                box-shadow: 0 0 0 .25rem $blue-color-25;
                            }

                            &:checked {
                                background-color: $orange-color-300;
                            }
                        }
                    }
                }
            }
        }
    }
}