// ---------- Satoshi Font ---------------

@font-face {
    font-family: 'Satoshi Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Satoshi Regular'), url('../fonts/satoshi/Satoshi-Regular.woff') format('woff');
}


@font-face {
    font-family: 'Satoshi Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Satoshi Italic'), url('../fonts/satoshi/Satoshi-Italic.woff') format('woff');
}


@font-face {
    font-family: 'Satoshi Light';
    font-style: normal;
    font-weight: normal;
    src: local('Satoshi Light'), url('../fonts/satoshi/Satoshi-Light.woff') format('woff');
}


@font-face {
    font-family: 'Satoshi Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Satoshi Light Italic'), url('../fonts/satoshi/Satoshi-LightItalic.woff') format('woff');
}


@font-face {
    font-family: 'Satoshi Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Satoshi Medium'), url('../fonts/satoshi/Satoshi-Medium.woff') format('woff');
}


@font-face {
    font-family: 'Satoshi Medium Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Satoshi Medium Italic'), url('../fonts/satoshi/Satoshi-MediumItalic.woff') format('woff');
}


@font-face {
    font-family: 'Satoshi Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Satoshi Bold'), url('../fonts/satoshi/Satoshi-Bold.woff') format('woff');
}


@font-face {
    font-family: 'Satoshi Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Satoshi Bold Italic'), url('../fonts/satoshi/Satoshi-BoldItalic.woff') format('woff');
}


@font-face {
    font-family: 'Satoshi Black';
    font-style: normal;
    font-weight: normal;
    src: local('Satoshi Black'), url('../fonts/satoshi/Satoshi-Black.woff') format('woff');
}


@font-face {
    font-family: 'Satoshi Black Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Satoshi Black Italic'), url('../fonts/satoshi/Satoshi-BlackItalic.woff') format('woff');
}