/*------------------------ Merriweather and open sans -------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/*-------------------- general styles-------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Open Sans", sans-serif;
  // font-family: "Playfair Display", serif;
  color: #fff;
  background: $white;
  font-size: 16px;
  &::-webkit-scrollbar {
    width: 8px;
    height: 4px;
  }
  &::-webkit-scrollbar-track {
    background: $primary-white-200;
  }
  &::-webkit-scrollbar-thumb {
    background: $primary-white-400;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: $primary-white-400;
  }
}


p {
  margin-bottom: 0px !important;
}

/*----------------- anchors general styles ----------------*/
a {
  text-decoration: none !important;
  color: inherit;

  &:hover {
    color: inherit;
  }

  &:focus,
  &:hover,
  &:active {
    outline: none;
  }
}

/*-------------------- button styles-------------------------*/
.btn {
  cursor: pointer;
  outline: none !important;
  font-weight: 400;

  &:focus,
  &:hover,
  &:active {
    outline: none !important;
  }

  &:active {
    transform: translateY(2px);
  }
}

.button {
  font-size: $font-size-16;
  outline: none;
  &-primary{
    font-size: 1rem;
    font-weight: 500;
    padding: 12px 28px;
    border: 1px solid transparent;
    border-radius: 6px;
    background: $orange-color-275;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    transition: background 0.2s ease-in;
    cursor: pointer;
    
    &:active{
      transform: translateY(0.1rem);
    }
    &:hover {
      // border: 1px solid #FFF;
      border-radius: 6px;
      border: 1px solid $orange-color-275;
      background: $orange-color-400;
      backdrop-filter: blur(15.949999809265137px);
     }
  }
  &-chips{
    outline: none;
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 14px;
    background-color: $orange-color-250;
    font-weight: 400;
    color: #fff;
    font-family: inherit;
    cursor: pointer;
    transition: 0.3s all ease;
    &:hover {
      background-color: $orange-color-275;
      color: #fff;
    }
    &:active {
        transform: scale(0.9);
    }
  }
}
.section{
  padding-block: 80px;
  &__header{
    width: 500px;
    margin-bottom: 48px;
    @include mobile{
      width: 100%;
    }
    h1{
      font-family: "Playfair Display", serif;
      letter-spacing: 0.5px;
      color: #fff;
    }
    p{
      font-size: 16px;
      line-height: 28px;
      color: #fff;
    }
  }
}
.separator{
  border-top: 1px solid #dadce0;
}
.page-section{
  padding-top: 48px;
  
}
.gap-100{
  gap: 100px;
  @include laptop{
    gap: 52px;
  }
  @include tablet{
    gap: 42px;
  }
  @include mobile{
    gap: 30px;
  }
}
.section-gap{
  margin-top: 62px;
}
.gradient-layer{
  background: linear-gradient(#AFC2C6, rgba(0,0,0,.01));
}

input.form-control, select, textarea.form-control{
  border: 1px solid $orange-color-200;
    &:focus {
      border: 1px solid $orange-color-200;
      box-shadow: 0 0 0 .25rem $orange-color-50;
    }
}
textarea.form-control{
  resize: none;
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: $primary-white-200;
  }
  &::-webkit-scrollbar-thumb {
    border: 4px solid transparent;
    border-radius: 8px;
    background-color: $orange-color-100;
  }
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::selection {
  color: white;
  background-color: gray;
}
.wow {
  visibility: hidden;
}
