$white: #fff;
// $primary-gray-50: #61e7e414;

$primary-white-100: #F1EFEF;
$primary-white-200: #E9E9E9;
$primary-white-300: #CCC8AA;
$primary-white-400: #7D7C7C;

$black-color-500: #191717;

$blue-color-25: #c2d2e2;
$blue-color-50: #abddf3;
$blue-color-75: #ABCACC;
$blue-color-100: #6B9BA9;
$blue-color-350: #081f35;
$blue-color-380: #031425;
$blue-color-400: #030022;

$secondary-orange-100: #FF7D33;
// $secondary-orange-100: #FF7700;

$orange-color-25: #fff5ef;
$orange-color-50: #FFD9C2;
$orange-color-75: #ffccae;
$orange-color-100: #ffc996;
$orange-color-150: #f8b678;
$orange-color-200: #FD9556;
$orange-color-250: #ff9454;
$orange-color-275: #f98642;
$orange-color-300: #f2782f;
$orange-color-400: #ff5c00; 


$green-color: #5bcf5b;


$dark-color-d50: #e7e7e7;
$dark-color-d75: #9e9e9e;
$dark-color-d100: #767676;
$dark-color-d200: #3a3a3a;
$dark-color-d300: #121212;
$dark-color-d400: #0d0d0d;
$dark-color-d500: #0b0b0b;

$gray-color-g50: #f6f6f6;
$gray-color-g75: #dadadb;
$gray-color-g100: #cbcbcc;
$gray-color-g200: #b4b4b6;
$gray-color-g300: #a5a5a7;
$gray-color-g400: #737375;
$gray-color-g500: #656566;

$info-color-i300: #3dd5ff;
$info-color-i400: #2b95b3;
$info-color-i500: #015eae;

$warning-color-w300: #fcb400;
$warning-color-w400: #b07e00;

$danger-color-d300: #ff3932;
$danger-color-d400: #b32823;

$green-color: #198754;
$success-color-s500: #518615;


